html, body {
    box-sizing: border-box;
    background-color: #b9ffabda;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #41190f;
    height: 100%;
    width: 100%;
}

.donker-blauw, nav{
    color: #020873;
}

.licht-groen{
    color: #0ce42e;
}

.donker-groen{
    color: #027313;
}

.nav-background{
    background-color: #0ce42e;
}

.card{
    background-color: #8ef19d;
    border-color: #0ce42e;
    padding-top: 1;
    padding-right: 1;
    padding-bottom: 1;
    padding-left: 1;
    margin-top: 1;
    margin-right: 1;
    margin-bottom: 1;
    margin-left: 1;
}